.keyboard {
  padding: 10px;
  background-color: #f0f0f0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 4px;
}

.key {
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  min-width: 30px;
  transition: background-color 0.1s;
}

.skip {
  width: 75%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  transition: background-color 0.1s;
  text-align: center; /* Center the text */
  margin: 16px 0px; /* Add horizontal margin to match the gap */
}

.key:active,
.key.active {
  background-color: #e0e0e0;
}
